# This is Git's per-user configuration file.
[user]
    name = Miyashita Yosuke
    email = dev.miyashiiii@gmail.com
[includeIf "gitdir:~/Works/"]
    path = ~/.gitconfig-work
[core]
    excludesfile = ~/.gitignore_global
[diff]
    tool = charm
[difftool "charm"]
    cmd = charm diff "$LOCAL" "$REMOTE" && echo "Press enter to continue..." && read
[merge]
    tool = charm
[mergetool "charm"]
    cmd = charm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[alias]
    a = add
    aa = add --all
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
    b = branch -a
    br = browse-remote
    bdel = branch -D
    ci = commit 
    cim = commit -m
    co = checkout
    cob = checkout -b
    d = difftool -dy
    dc = difftool -dy --cached
    di = diff   
    dic = diff --cached
    f = fetch --prune
    fs = !git f && git su
    ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >> .gitignore
    info = remote show origin
    l = log --graph --date=short --decorate --oneline --all --format=\"%C(yellow)%h%C(reset) %C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset) \"%C(magenta)[%ad]%C(reset)
    m = merge
    ms = merge --squash
    rs = reset
    rh = reset --hard
    s = status --short --branch
    st = status 
    su = submodule update
    p = push
    poh = push origin head
    fo = fetch --prune origin
    fu = fetch --prune upstream
[fetch]
	prune = true
